{% extends 'lamian/base.html' %}
{% load static %}

{% block content %}

    <div class="main">
        <div class="prod">
            <div class="col_1_of_3 span_1_of_3">
                <div class="view effect">
                    <img src="/static/lamian/images/pic9.jpg" alt="">
                    <div class="mask"></div>
                    <div class="content">
                        <a href="#" class="info" title="Full Image">Full Image</a>
                    </div>
                </div>
                <h3>Lorem Ipsum is simply</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.</p>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <div class="view effect">
                    <img src="/static/lamian/images/pic10.jpg" alt="">
                    <div class="mask"></div>
                    <div class="content">
                        <a href="#" class="info" title="Full Image">Full Image</a>
                    </div>
                </div>
                <h3>Lorem Ipsum is simply</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.</p>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <div class="view effect">
                    <img src="/static/lamian/images/pic11.jpg" alt="">
                    <div class="mask"></div>
                    <div class="content">
                        <a href="#" class="info" title="Full Image">Full Image</a>
                    </div>
                </div>
                <h3>Lorem Ipsum is simply</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section group example">
            <div class="col_1_of_2 span_1_of_2">
                <h3>Chief of the week</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                    diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                    minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                    consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
                    vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
                    blandit praesent luptatum zzril delenit augue duis dolore te feugai consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt</p>
            </div>
            <div class="col_1_of_2 span_1_of_2">
                <div class="grid1">
                    <h3 class="head">Today's Offer-20%</h3>
                    <p class="paragraph">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                        euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                        quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo cons</p>
                    <button class="btn1 btn-8 btn-8a">Order Now</button>
                </div>
                <ul class="hover-img">
                    <li>
                        <a href="#" class="sample-border2" style="position: relative;">
                            <img src="images/pic17.jpg" alt="">
                            <div class="border-effect"
                                 style="position: absolute; display: block; border: 0px solid rgb(255, 255, 255); top: 0px; bottom: 0px; right: 0px; left: 0px; opacity: 0; z-index: 100;"></div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="pricing">
            <div class="col_1_of_3 span_1_of_3">
                <div class="inner-block">
                    <h3 class="top-2">Viandas de complement</h3>
                    <ul class="list-1 top-1 bot-2">
                        <li><strong>D2</strong> Bœuf <span>$25.00</span><br></li>
                        <li><strong>D3</strong> Poulet à la sauce piquante<span>$19.00</span></li>
                        <li><strong>D4</strong> Poulet pané<span>$21.00</span></li>
                        <li><strong>D5</strong> Bœuf <span>$25.00</span><br></li>
                        <li><strong>D6</strong> Canard laqué<span>$19.00</span></li>
                        <li><strong>D7</strong> Agneau<span>$21.00</span></li>
                        <li><strong>D8</strong> Crevette<span>$19.00</span></li>
                        <li><strong>D9</strong> Œufs dure au cinq parfums<span>$21.00</span></li>
                    </ul>
                    <h3>Raviolis grillés</h3>
                    <ul class="list-1 top-4">
                        <li><strong>R1</strong> Raviolis au bœuf et céleri (4 P) <span>$25.00</span><br></li>
                        <li><strong>R2</strong> Raviolis au bœuf et céleri (4 P) <span>$25.00</span><br></li>
                        <li><strong>R3</strong> Raviolis au poulet et carotte (4 p)<span>$19.00</span></li>
                        <li><strong>R8</strong> Raviolis aux trois délices (poulet, omelette, crevettes, champignons
                            noirs (4 P)<span>$21.00</span></li>
                        <li><strong>R9</strong> Soupe de raviolis aux crevettes et aux algues (8 p)
                            <span>$25.00</span><br></li>
                    </ul>
                </div>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <div class="inner-block">
                    <h3 class="top-2">汤面</h3>
                    <ul class="list-1 top-1">
                        <li> 蔬菜汤面 <span>$25.00</span><br></li>
                        <li> 牛肉汤面 <span>$25.00</span><br></li>
                        <li> 辣鸡汤面 <span>$25.00</span><br></li>
                        <li> 炸鸡汤面 <span>$25.00</span><br></li>
                        <li> 卤鸡汤面 <span>$25.00</span><br></li>
                        <li> 烤鸭汤面 <span>$25.00</span><br></li>
                        <li> 羊肉汤面 <span>$25.00</span><br></li>
                        <li> 虾汤面 <span>$25.00</span><br></li>
                    </ul>
                    <h3 class="top-2">炒面</h3>
                    <ul class="list-1 top-4">
                        <li> 蔬菜炒面 <span>$25.00</span><br></li>
                        <li> 牛肉炒面 <span>$25.00</span><br></li>
                        <li> 辣鸡炒面 <span>$25.00</span><br></li>
                        <li> 炸鸡炒面 <span>$25.00</span><br></li>
                        <li> 鸡肉炒面 <span>$25.00</span><br></li>
                        <li> 烤鸭汤面 <span>$25.00</span><br></li>
                        <li> 烤鸭炒面 <span>$25.00</span><br></li>
                        <li> 羊肉炒面 <span>$25.00</span><br></li>
                        <li> 虾炒面 <span>$25.00</span><br></li>
                    </ul>
                    <h3 class="top-2">拌面</h3>
                    <ul class="list-1 top-4">
                        <li> 蔬菜凉面 <span>$25.00</span><br></li>
                        <li> 芝麻牛肉酸辣凉面 <span>$25.00</span><br></li>
                        <li> 芝麻鸡丝酸辣凉面 <span>$25.00</span><br></li>
                    </ul>
                </div>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <div class="inner-block">
                    <h3 class="top-2">前菜</h3>
                    <ul class="list-1 top-1 bot-2">
                        <li> 春卷 <span>$25.00</span><br></li>
                        <li> 凉拌藕片 <span>$25.00</span><br></li>
                        <li> 凉拌海带 <span>$25.00</span><br></li>
                        <li> 凉拌豆皮 <span>$25.00</span><br></li>
                        <li> 花生 <span>$25.00</span><br></li>
                        <li> 炸虾 <span>$25.00</span><br></li>
                        <li> 拍黄瓜 <span>$25.00</span><br></li>
                        <li> 卷心菜泡菜 <span>$25.00</span><br></li>
                        <li> 白萝卜 <span>$25.00</span><br></li>
                        <li> 什锦泡菜 <span>$25.00</span><br></li>
                    </ul>
                    <h3>配菜</h3>
                    <ul class="list-1 top-4 bot">
                        <li> 牛肉 <span>$25.00</span><br></li>
                        <li> 辣鸡 <span>$25.00</span><br></li>
                        <li> 炸鸡 <span>$25.00</span><br></li>
                        <li> 五香蛋 <span>$25.00</span><br></li>
                        <li> 烧鸭 <span>$25.00</span><br></li>
                        <li> 花生 <span>$25.00</span><br></li>
                        <li> 羊肉 <span>$25.00</span><br></li>
                        <li> 虾 <span>$25.00</span><br></li>
                        <li> 五香蛋 <span>$25.00</span><br></li>

                    </ul>
                    <h3>饺子</h3>
                    <ul class="list-1 top-4">
                        <li><a href="#"> 蔬菜饺子 </a><span>$25.00</span><strong>&nbsp;</strong></li>
                        <li><a href="#"> 牛肉芹菜饺子 </a><span>$8.00</span><strong>&nbsp;</strong></li>
                        <li><a href="#"> 鸡肉胡萝卜饺子 </a><span>$19.00</span><strong>&nbsp;</strong></li>
                        <li><a href="#"> 三鲜饺子 </a><span>$21.00</span><strong>&nbsp;</strong>
                        </li>
                        <li><a href="#"> 水饺汤 </a><span>$21.00</span><strong>&nbsp;</strong>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
{% endblock %}